.btn {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 3rem;
    letter-spacing: 1px;
    cursor: pointer;


    &--orange {
        background-color: $c-orange;
    }

    &--black {
        color: $c-white;
        background-color: $c-black;
    }
}