.btn {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 3rem;
    letter-spacing: 1px;
    cursor: pointer;
    width: 16rem;


    &--orange {
        background-color: $c-orange;
    }

    &--black {
        color: $c-white;
        background-color: $c-black;
    }

    &--transparent {
        color: $c-black;
        background-color: transparent;
        border: 1px solid $c-black;
        padding: calc(1.2rem - 1px) calc(3rem - 1px);
    }
}