@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.category-links {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: relative;
    z-index: 10;

    @include respond-above("BP-2") {
        flex-direction: row;
        justify-content: space-between;
    }

    &__card {
        height: 16.5rem;
        background-color: $c-grey;
        border-radius: 0.8rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 6rem;

            @include respond-above("BP-2") {
                margin-bottom: 0rem;
            }
        }

        @include respond-above("BP-2") {
            width: 32%;
        }
    }

    &__thumbnail {
        margin-top: -4rem;
        width: 13rem;
        height: auto;
    }

    &__title {
        margin-top: -1rem;
    }

    &__link {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 1px;
        opacity: 50%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 6rem;
        margin-bottom: 2rem;

        img {
            height: 1rem;
        }
    }
}