@import '../../styles/variables';
@import '../../styles/mixins';

.hamburger-menu {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: relative;
    z-index: 10;

    padding: 8.4rem 2.4rem 3.2rem;

    @include respond-above("mobile") {
        flex-direction: row;
        justify-content: space-between;

        padding: 10.9rem 4rem 6.7rem;
    }

    @include respond-above("tablet") {
        display: none;
    }

    &__item {
        height: 16.5rem;
        background-color: $c-grey;
        border-radius: 0.8rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 6.8rem;

            @include respond-above("mobile") {
                margin-bottom: 0rem;
            }
        }

        @include respond-above("mobile") {
            width: 32%;
        }

        .thumbnail {
            margin-top: -4rem;
            width: 13rem;
            height: auto;
        }

        .container {
            text-align: center;
            margin-bottom: 2.2rem;

            h6 {
                margin-top: -2rem;
                margin-bottom: 1rem;
            }

            a {
                text-transform: uppercase;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 1px;
                opacity: 50%;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 6rem;
                margin: auto;

                img {
                    height: 1rem;
                }
            }
        }
    }
}