@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.category-links {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: relative;
    z-index: 10;

    @include respond-above("BP-2") {
        flex-direction: row;
        justify-content: space-between;
    }
}