@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.footer {
    background-color: $c-black;
    color: $c-white;
    text-align: center;

    padding-top: 7.5rem;
    padding-bottom: 4.8rem;

    @include respond-above('BP-2') {
        text-align: left;
    }

    &__logo {
        width: 14.3rem;
        margin-bottom: 4.8rem;
    }

    &__links {
        margin-bottom: 4.8rem;

        li {
            margin-bottom: 1.6rem;

            @include respond-above('BP-2') {
                display: inline-block;
                margin-bottom: 0;

                &:not(:last-child) {
                    margin-right: 3.4rem;
                }
            }
        }
    }

    &__link {
        color: $c-white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.3rem;
        letter-spacing: 2px;
        line-height: 2.5rem;
        cursor: pointer;
        transition: all .1s ease;

        &:hover {
            color: $c-orange;
        }
    }

    &__description {
        opacity: 50%;
        margin-bottom: 4.8rem;

        @include respond-above('BP-3') {
            width: 50%;
        }
    }

    &__copyright {
        opacity: 50%;
        margin-bottom: 4.8rem;

        @include respond-above('BP-2') {
            margin-bottom: 0;
        }
    }

    &__social-media {
        height: 2.4rem;

        &>*:not(:last-child) {
            margin-right: 1.6rem;
        }

        @include respond-above('BP-3') {
            margin-top: -6rem;
        }
    }

    &__icon-wrapper {
        width: 2.4rem;
        height: 2.4rem;
        background-color: $c-white;
        cursor: pointer;
        transition: background-color .1s ease;

        &:hover {
            background-color: $c-orange;
        }

        &:nth-of-type(1) {
            mask-image: url('../assets/shared/desktop/icon-facebook.svg');
        }

        &:nth-of-type(2) {
            mask-image: url('../assets/shared/desktop/icon-twitter.svg');
            height: 1.95rem;
        }

        &:nth-of-type(3) {
            mask-image: url('../assets/shared/desktop/icon-instagram.svg');
        }
    }

    .flex-container-1 {
        @include respond-above('BP-2') {
            align-items: flex-start;
        }

        @include respond-above('BP-2.5') {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .flex-container-2 {
        @include respond-above('BP-2') {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}