@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.home {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}

.banner {
    color: white;
    background: #191919 url('../../../assets/home/mobile/image-header.jpg') no-repeat center/contain;
    text-align: center;
    z-index: 0;

    display: flex;
    justify-content: center;

    padding: 40% 10%; // this needs to be responsive

    @include respond-above('BP-1') {
        background-image: url('../../../assets/home/tablet/image-header.jpg');
        padding: 15% 30%;
    }

    @include respond-above('BP-3') {
        background-image: url('../../../assets/home/desktop/image-hero.jpg');
        padding: 10% 5%; // align with navbar padding

        text-align: left;
        justify-content: left;
    }

    &__content {
        margin-top: 9rem; //navbar height

        @include respond-above('BP-3') {
            min-width: 40rem;
            width: 25%;
            max-width: 50rem;
            // margin-left: 10%;
        }

        h6 {
            text-transform: uppercase;
            opacity: 50%;
            font-weight: 400;
            letter-spacing: 1rem;
            margin-bottom: 1.6rem;
        }

        h1 {
            margin-bottom: 2.4rem;
        }

        p {
            opacity: 75%;
            margin: auto;
            margin-bottom: 2.8rem;
            max-width: 28rem;

            @include respond-above('BP-2') {
                max-width: 40rem;
            }

            @include respond-above('BP-3') {
                margin-left: 0;
            }
        }
    }
}

.home-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2.3rem;
    grid-column-gap: 1.1rem;

    &__cell-1 {
        // background: $c-orange url('../../../assets/home/desktop/pattern-circles.svg') no-repeat center bottom 13rem/cover;
        background-color: $c-orange;
        padding: 17% 7%;
        grid-column: 1 / span 2;
        border-radius: 8px;
        text-align: center;
        color: white;
        min-height: 60rem;

        img {
            width: 17.2rem;
            height: 20.7rem;
        }

        h1 {
            margin: auto;
            margin-top: 3.2rem;
            width: 80%;
        }

        p {
            margin: auto;
            margin-top: 2.4rem;
            max-width: 50rem;
        }

        a {
            margin-top: 2.4rem;
        }
    }

    &__cell-2 {
        grid-column: 1 / span 2;
        border-radius: 8px;
        background: url('../../../assets/home/mobile/image-speaker-zx7.jpg') no-repeat center/cover;
        padding: 30% 7%;
        // min-height: 32rem;

        h4 {
            margin-bottom: 3.2rem;
        }
    }
}